Repository gemesa/rgaas, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, build, chore, documentation, main-server, logger, argparser, signal_handler, test

.github/labeler.yml:

ci/cd:
  - .github/**

build:
  - CMakeLists.txt
  - .clang-format
  - .clang-tidy

chore:
  - .gitignore

documentation:
  - LICENSE.md
  - README.md
  - ./*.md

main-server:
  - rgaas/server/**

logger:
  - modules/logger/**

argparser:
  - modules/argparser/**

signal_handler:
  - modules/signal_handler/**

test:
  - test/**

feat: add empty client main.c
  CMakeLists.txt
  rgaas/client/main.c
Labels: build

ci: add rgaas-client to valgrind.sh
  test/valgrind/valgrind.sh
Labels: test

docs: extend general description, add tool and build info to README.md
  README.md
Labels: documentation

docs: fix some minor formatting issues in README.md
  README.md
Labels: documentation

docs: reword the summary and fix some minor formatting issues in README.md
  README.md
Labels: documentation

docs: fix some minor formatting issues in README.md
  README.md
Labels: documentation

docs: add valgrind info to README.md
  README.md
Labels: documentation

build: create build folder by cmake if it does not exist
  CMakeLists.txt
Labels: build

feat: rework logger to support format specifiers and optional args (like printf)
  modules/logger/logger.c
  modules/logger/logger.h
  rgaas/server/main.c
Labels: main-server, logger

style: reformat logger.h
  modules/logger/logger.h
Labels: logger

ci: use clang-format-14 and clang-tidy-14 (instead of version 12 which has some bugs)
  .github/workflows/rgaas-workflow.yml
Labels: ci/cd

ci: suppress uninitialized valist related warnings as they are false positive in the CI environment
  .clang-tidy
Labels: build

feat: add port_number to argparser and list supplied non-option args
  modules/argparser/argparser.c
  modules/argparser/argparser.h
  rgaas/server/main.c
Labels: main-server, argparser

refactor: replace magic numbers with named constants in argparser
  modules/argparser/argparser.c
Labels: argparser

feat: replace signal with sigaction in signal_handler to be compatible later with socket functions like accept
  modules/signal_handler/signal_handler.c
  modules/signal_handler/signal_handler.h
  rgaas/server/main.c
Labels: main-server, signal_handler

style: reformat signal_handler.c
  modules/signal_handler/signal_handler.c
Labels: signal_handler

fix: fix printing of non-option args
  rgaas/server/main.c
Labels: main-server

feat: implement tcp communication both in server and in client, add the necessary additional args to argparser
  CMakeLists.txt
  modules/argparser/argparser.c
  modules/argparser/argparser.h
  modules/tcp/tcp_handler.c
  modules/tcp/tcp_handler.h
  rgaas/client/main.c
  rgaas/server/main.c
  test/valgrind/valgrind.sh
Labels: build, main-server, argparser, test

fix: free all allocated memory in client
  rgaas/client/main.c
Labels: none

docs: update usage info in README.md
  README.md
Labels: documentation

docs: update usage info in README.md
  README.md
Labels: documentation

style: rename modules/tcp/* to modules/tcp_handler/*
  CMakeLists.txt
  modules/tcp_handler/tcp_handler.c
  modules/tcp_handler/tcp_handler.h
  rgaas/client/main.c
  rgaas/server/main.c
Labels: build, main-server
