Repository gemesa/rgaas, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, build, chore, documentation, main, logger, argparser, signal_handler, test

refactor: remove unnecessary stack variable in main.c
  rgaas/main.c
Labels: main

feat: add argparser module, add enable_syslog method to logger
  CMakeLists.txt
  modules/argparser/argparser.c
  modules/argparser/argparser.h
  modules/logger/logger.c
  modules/logger/logger.h
  rgaas/main.c
Labels: build, main, logger, argparser

style: reformat main.c, logger.c, argparser.h
  modules/argparser/argparser.h
  modules/logger/logger.c
  rgaas/main.c
Labels: main, logger, argparser

feat: list supplied non-option arguments
  modules/argparser/argparser.c
Labels: argparser

feat: add daemon mode, utilize flush method in logger
  modules/argparser/argparser.c
  modules/argparser/argparser.h
  modules/logger/logger.c
  rgaas/main.c
Labels: main, logger, argparser

ci: make valgrind.sh more verbose
  test/valgrind/valgrind.sh
Labels: test

feat: utilize heap in argparser, make it object-oriented
  modules/argparser/argparser.c
  modules/argparser/argparser.h
  rgaas/main.c
Labels: main, argparser

fix: free argparser after use
  modules/argparser/argparser.c
  modules/argparser/argparser.h
  rgaas/main.c
Labels: main, argparser

feat: add -v (verbose) to argparser, rework logger to handle different verbosity levels
  modules/argparser/argparser.c
  modules/argparser/argparser.h
  modules/logger/logger.c
  modules/logger/logger.h
  rgaas/main.c
Labels: main, logger, argparser

fix: free argparse before exit
  rgaas/main.c
Labels: main

refactor: replace return 0 with return EXIT_SUCCESS in main
  rgaas/main.c
Labels: main

refactor: replace exit calls with return in main
  rgaas/main.c
Labels: main

refactor: utilize heap in signal_handler, make it object-oriented
  modules/signal_handler/signal_handler.c
  modules/signal_handler/signal_handler.h
  rgaas/main.c
Labels: main, signal_handler

style: reformat main.c
  rgaas/main.c
Labels: main

refactor: move rgaas/main.c to rgaas/server/main.c
  rgaas/server/main.c
Labels: main

.github/labeler.yml:

ci/cd:
  - .github/**

build:
  - CMakeLists.txt
  - .clang-format
  - .clang-tidy

chore:
  - .gitignore

documentation:
  - LICENSE.md
  - README.md
  - ./*.md

main:
  - rgaas/**

logger:
  - modules/logger/**

argparser:
  - modules/argparser/**

signal_handler:
  - modules/signal_handler/**

test:
  - test/**
